<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <h5 class="ml-4 my-0 mr-md-auto font-weight-normal">Preguntas y Respuestas</h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a href="" class="p-2 text-dark" routerLink="/dashboard">Cuestionarios</a>
        <a href="" class="p-2 text-dark" routerLink="/dashboard/cambiarPassword"> Cambiar Password</a>
        
    </nav>
    <div class=" text-center">
        <a href="#" class="btn btn-outline-success" routerLink="/inicio">
            Cerrar sesión</a>
    </div>
    

</header>